* {
  user-select: none;
}

body {
  padding: 10px;
}

#container {
  display: inline-block;
  min-width: 100%;
}

.addText {
  margin-bottom: 10px;
}

#text {
  width: 250px;
}

#list-container {
  display: flex;
}

li {
  margin-bottom: 15px;
}

.removeBtn {
  margin-left: 8px;
}

#sum {
  display: inline-block;
  margin-left: 10px;
}

ul {
  max-height: 400px;
  margin-bottom: 0;
  display: flex;
  flex-flow: column wrap;
}

.option {
  margin-bottom: 20px;
}

#pickup-text {
  display: inline-block;
  width: 30px;
}

p {
  display: inline-block;
  margin: 0;
}

#list-wrapper {
  border-bottom: none;
}

#pickup-wrapper {
  color: red;
}

#shuffle-wrapper {
  color: darkcyan;
}
.sh {
  display: none;
}

.section:nth-child(1),
.section:nth-child(2) {
  width: 33%;
}
